[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
requests = "*"
pyqt5-stubs = "==5.15.6.0"
flask = "*"
easygui = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.8"
