<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="ApptekaPU" transaction-type="JTA">
      <jta-data-source>jdbc/Appteka</jta-data-source>
    <class>entities.Magazyn</class>
    <class>entities.Daneplacowki</class>
    <class>entities.Hurtownia</class>
    <class>entities.Lek</class>
    <class>entities.Lekiwmagazynach</class>
    <class>entities.Apteka</class>
    <class>entities.Zamowienie</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
  </persistence-unit>
</persistence>
